Clases_2025/Electrodinámica/Bibliografía/Reitz_Mildford_en_español.pdf filter=lfs diff=lfs merge=lfs -text
Clases_2025/Estado_Sólido/Bibliografía/Introduction_to_Solid_State_Physics_Charles_Kittel.pdf filter=lfs diff=lfs merge=lfs -text
